<h2>Out on Loan</h2>
<% if (@things_by_holder.length == 0) %>
    <%= "You don't have anything out on loan." %>
<% else
    @things_by_holder.each do |user, things|
%>
        <h4><%= link_to(user.name, user) %></h4>
        <div class="masonry">
            <%= render things %>
        </div>
    <% end %>
<% end %>