<p class="lead text-info">
    If you've got some willing friends, we can help you organize your things into a consolidated pool, so you'll know who's got what, and what you've got access to, so you might not have to break out your wallet.
</p>

<p>
    <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-info" %>
</p>