<section id="pitch">
    <h2>Is this you?</h2>

    <blockquote>
        <p>I want to get caught up on BioShock before playing Infinite, but it would be a waste to buy it.</p>

        <p>One of my friends is bound to have a copy they wouldn't mind lending me, but I don't want to ask people at random, or broadcast that I'm a cheapskate on Facebook ...</p>

        <p>I guess I'll just buy a copy.  :(</p>
    </blockquote>

    <h3>or</h3>

    <blockquote>
        <p>I know I bought a copy of BioShock at some point, but I can't find it.  Did I lend it to someone when Infinite came out?</p>

        <p>One of my friends is bound to have my copy, but I don't want to ask people at random, or broadcast that I can't keep track of my stuff on Facebook ...</p>

        <p>I guess I'll just buy <em>another</em> copy. :(</p>
    </blockquote>

    <p class="lead">
        If you've got some willing friends, we can help you organize your things into a consolidated pool, so you'll know who's got what, and what you've got access to, so you might not have to break out your wallet.
    </p>
</section>

<section id="jab">
    <h2>Is this you?</h2>

    <blockquote>
        <p>I'm a consumer whore.</p>
    </blockquote>

    <h3>or</h3>

    <p>
        <%= link_to "Sign Up", new_user_registration_path, class: "btn" %>
    </p>
</section>