<p id="notice"><%= notice %></p>

<p>
  <%= "You have #{@stake.amount} of #{@stake.total_stakes()} stakes in #{@stake.thing.name} (#{@stake.percent_ownership()})"  %>
</p>

<%= link_to 'Edit', edit_stake_path(@stake) %> |
<%= link_to 'Back', stakes_path %>
