<div>
    {{#unless Consolidator.currentUserController.isError}}
        {{Consolidator.currentUserController.name}} logged in
    {{else}}
        Error getting current user
    {{/unless}}
</div>

{{outlet}}