<div class="thing-brief box">
    <div class="info">
        <h4>{{ thing.name }}</h4>
    </div>

    <div class="owners">
        <i class="icon-home"></i>
    </div>

    <div class="holder">
        
    </div>
</div>