.icon-thumbs-up{
    color: green;
}

.icon-thumbs-down{
    color: red;
}

.icon-time{
    color: gray;
}

.box{
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    border: solid black 1px;
    width: 214px;
}