.icon-thumbs-up{
    color: green;
}

.icon-thumbs-down{
    color: red;
}

.icon-time{
    color: gray;
}

.btn{
    margin-top: 1em;
}

.footer{
    clear: both;
}

.form-actions{
    clear: both;
}

.form-inputs{
    float: left;
    margin-left: 30px;
}

.box{
    box-shadow: 1px 1px 10px #444;
    margin: 5px;
    padding: 5px;
    line-height: 1.4em;
    float: left;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    box-shadow: 1px 1px 10px #444;
    width: 213px;

    img{
        width: 100%;
        border-radius: 5px;
    }
}

.masonry > p{
    float: left;
}