.icon-thumbs-up{
    color: green;
}

.icon-thumbs-down{
    color: red;
}

.icon-time{
    color: gray;
}

.thumbnail{
    margin-bottom: 20px;
}

.btn{
    margin-top: 1em;
}

.footer{
    clear: both;
}

.box{
    img{
        width: 100%;
    }
}