<div class="borrowRequest">
    <h3>You've requested to borrow <%= borrow_request.thing.name %> from: </h3>
    <div class="approvals">
        <% borrow_request.approvals.each do |approval| %>
        <%= render :partial => 'approvals/approval', :locals => {:approval => approval} %>
        <% end %>
    </div>
</div>