<div class="borrowRequest">
    <h4><%= status_icon(borrow_request.status) %> <%= raw status_message(borrow_request) %> </h4>
    <div class="approvals">
        <ul>
        <% borrow_request.approvals.each do |approval| %>
            <li><%= render :partial => 'approvals/approval', :locals => {:approval => approval} %></li>
        <% end %>
        </ul>
    </div>
    <%= status_actions(borrow_request) %>
</div>